@@id@@:
  Type: AWS::SecretsManager::Secret
  Properties:
    Description: !Sub "@@name@@ of the ${EnvName} preview's @@container@@ container."
    GenerateSecretString:
      SecretStringTemplate: '{}'
      GenerateStringKey: secret
      PasswordLength: 64
      ExcludePunctuation: true
