- PolicyName: GoogleOauthSecretRead
  PolicyDocument:
    Version: '2012-10-17'
    Statement:
      - Effect: Allow
        Action: secretsmanager:GetSecretValue
        Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:@@stack_name@@-web-google-oauth-*"
