              - !If
                - IsProduction
                - Effect: Allow
                  Action: secretsmanager:PutSecretValue
                  Resource:
@@RESOURCES@@
                - !Ref AWS::NoValue
